<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather in {{ city_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Weather in {{ city_name }}</h1>
    <p>
        Today is {{ current_date }}. The weather in {{ city_name }} is <strong>{{ current_weather }}</strong> with a temperature of 
        <strong>{{ current_temp }}°C</strong>. The temperature will range from <strong>{{ min_temp }}°C</strong> to 
        <strong>{{ max_temp }}°C</strong> with a wind speed of <strong>{{ wind_speed }} meters/second</strong>.
    </p>

    <h2>5-Day Forecast</h2>
    <ul>
        {% for date, temp, weather in five_day_forecast %}
        <li>
            <img class="weather-icon" src="/static/assets/{{ weather.lower() }}.png" alt="{{ weather }} icon">
            {{ date }}: {{ weather }}, {{ temp }}°C
        </li>
        {% endfor %}
    </ul>

    <div class="footer">
        <p>Data provided by OpenWeatherMap</p>
    </div>
</body>
</html>
